* {
  box-sizing: border-box;
}

div {
  background-color: #fff;
  font-size: 30px;
}
input {
  background-color: #444;
}



.body {
  text-align: center;
  align-items: center;
}
.buton {
  margin: 0 auto;
  font-family: 'Comfortaa';
  background-color: cornflowerblue;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
}
.wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: column;
}
.wrapper > div {
  background: #333;
  padding: 20px;
  color: white;
  border-radius: 10px;
  font-family: 'Comfortaa';
}
.q {
  background-color: none;
}
.yellow {
  background-color: yellow;
  color: 333;
}

