* {
  box-sizing: border-box;
  font-family: 'Comfortaa';
}

body {
  text-align: center;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: column;
}
.wrapper > div {
  border: 2px solid black;
  color: black;
  border-radius: 10px;
}
.yellow {
  background-color: yellow;
}

