* {
  box-sizing: border-box;
}


.body {
  text-align: center;
  align-items: center;
}


.buton {
  margin: 0 auto;
  font-family: 'Comfortaa';
  background-color: cornflowerblue;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.wrapper > div {
  background: #333;
  padding: 20px;
  color: white;
  border-radius: 10px;
  font-family: 'Comfortaa';
}


div {
  background-color: #fff;
  font-size: 30px;
}

.q {
  background-color: none;
}