@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');

* {
  box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
}